<nav class="navbar navbar-dark navbar-expand-md" style="background-color: #5f4987;">
  <%= link_to "AlphaBlog", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav3rd">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNav3rd">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Articles", articles_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "New Article", new_article_path, class: "nav-link" %></li>
      <li class="nav-item"><a class="nav-link" href="#">Users</a> </li>
      <!-- <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link" </li> -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">All Categories</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sports</a>
          <a class="dropdown-item" href="#">Programming</a>
          <a class="dropdown-item" href="#">Books</a>
          <a class="dropdown-item" href="#">Lifestyle</a>
          <a class="dropdown-item" href="#">Food</a>
          <a class="dropdown-item" href="#">Travel</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      <!-- <li class="nav-item"><%= link_to "Sign Up", signup_path, class: "nav-link" </li> -->
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
     </ul>
  </div>
</nav>
